<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ chat }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <div class="content">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ chat }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="chat">

      <div #conversation class="conversation">

        <ion-list>
          <ion-item lines="none" class="bubble-container" *ngFor="let message of messages">
            <div class="message-bubble" [ngClass]="message.role === 'user' ? 'user-bubble' : 'assistant-bubble'" [innerHTML]="processText(message.content)">
              <!-- <p> {{ message.content }} </p> -->
            </div>
          </ion-item>
        </ion-list>

      </div>

      <div class="prompt prompt-content">
        <textarea #textbox class="textbox" placeholder="Type something here" (keydown.enter)="handleSendButton()"></textarea>
        <ion-button class="send-button" (click)="handleSendButton()">
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>