<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ chat }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="content">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ chat }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="chat">

      <div class="conversation">

        <ion-list>
          <ion-item *ngFor="let s of lst">
            <ion-label>Pokémon Yellow</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Mega Man X</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>The Legend of Zelda</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pac-Man</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>LAST</ion-label>
          </ion-item>
        </ion-list>

      </div>

      <div class="prompt">
        <ion-item class="prompt-content">
          <ion-textarea placeholder="Type something here" [autoGrow]="true"
            value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum.">
          </ion-textarea>
        </ion-item>
      </div>

    </div>
  </div>

</ion-content>